<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- デバイスに応じてウェブページを正しく表示するための設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新</title> <!-- ページタイトル -->
    <!-- スタイリング用の外部CSSファイルへのリンク -->
    <link rel="stylesheet" th:href="@{/css/blog_editing.css}">
</head>
<body>
    <!-- ブログ投稿を更新するためのフォーム -->
    <form id="form" th:action="@{/blog/edit/process}" method="post">
        <!-- スタイリングされたテキストのフォームヘッダー -->
        <h2><span style="color: rgb(241, 70, 241);">秘密</span>のブログ</h2>
        <!-- ブログIDを格納する隠し入力フィールド -->
        <input type="hidden" id="blogId" name="postId" th:value="${blog.postId}">
        <!-- ブログタイトルの入力ボックス -->
        <div class="input-box small-input">
            <input type="text" id="title" name="title" th:value="${blog.title}" placeholder="タイトル" required>
        </div>
        <!-- ブログ内容のテキストエリア -->
        <div class="input-box large-input">
            <label for="content"></label> <!-- アクセシビリティのためのラベル（スタイリングのために空にしておく） -->
            <textarea id="content" name="content" placeholder="ブログ内容" required th:text="${blog.content}"></textarea>
        </div>
        <!-- フォームの送信ボタン -->
        <button type="submit">戻る・更新</button>
    </form>
</body>
</html>
